{#
/**
 * @file
 * Examples page template, override this in your theme.
 */
#}
{% if examples is not empty %}
  {# List of available examples with anchor links. #}
  {% for example in examples %}
    <h2><a href="{{ url('ui_examples.single', {'name': example.id}) }}">{{ example.label }}</a></h2>
    {% if example.description %}
      <p>{{ example.description }}</p>
    {% endif %}
    {% if example.render_links %}
      <ul>
        {% for link in example.render_links %}
          <li>{{ link }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}

{% endif %}
